/data/*
!/data/README.md
!/data/input/
/data/input/*
!/data/input/testsource__testcarrier.wav
!/data/output
/data/output/*
!/data/output/testsource__testcarrier
!/data/output/testsource__testcarrier/*
/model/*
__pycache__
.pytest_cache
.coverage
/config.yml
s3-creds.env
.vscode/*
.env.override
