name: Build & Push

on:
  push:
    branches:
    -  main
  workflow_call:
  workflow_dispatch:

jobs:
  build-push-image:
    uses: beeldengeluid/gha-workflows/.github/workflows/build-push-image.yml@aeb8709b88be6487ba78f9d9025309a55d0b28c0 # v2025.11.03
    secrets: inherit
    permissions:
      contents: read
      packages: write
      id-token: write
